{%extends "registration/base.html"%} 
{% load bootstrap4 %}
{% block content %}
<style>
#top{
  background-image: url('https://static-steelkiwi-dev.s3.amazonaws.com/media/filer_public/20/8d/208d6d8d-7690-4618-9aa1-5921c9285343/796131d5-3dda-45c7-a3e1-cffeaa820295.gif');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 750px;
  width: 500px;
}
#form{
  border-style: ridge;
}
h1{
  text-align: center;
}
h3{
  font-size: 15px;
}
body{
  background-color: #95A5A6 ;
}
</style>
<body >
  

<div class="container"> <br> <br> <br>
  <div id="form" style="background-color: #f3f3f5;">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-4">
        <div id="top"></div>
    </div>
    <div class="col-md-3"></div>
    <!-- empty div -->
    <div class="col-md-4">

        {% if form.errors %}
        <p> Some Information Might be Incorrect </p>
      {% endif %}
      <div class="panel panel-default">
          <h1>Weplay</h1> <br>
        <div class="panel-heading">
          <h3 class="text-center">Sign Up</h3>
        </div>
        <div class="panel-body">

          <form  action="/accounts/register/" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Sign Up">
            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>
          <p> Arleady have an Account ?<a href="/accounts/login/" class="btn btn-primary btn-sm"  style="margin:10px">Sign
            In</a> </p>

        </div>

      </div>

    </div>
  </div>
  </div>
</div> <br> <br>
</body>
{% endblock %}
