{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static%}

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
 
  <title>Chat</title>
  {% block styles %} {% bootstrap_css %} 
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  {% endblock %}

</head>

<body>
  {% block content %}

  <style>
    /* body{
      background-color: #CCCCCC;
      
    } */
    .mt-2 {
      border: 1px;
      border-radius: 5%;
      width: 40%;
      height: 50%;
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),#13a456 ;
      margin-left: 20%;
    }

    .btn {
      margin-left: 30%;
      margin-top: -4%;
      /* background-color: black; */

    }

    form {
      border-radius: 20%;
      width: 100%;
      height: 10%;
      margin-left: 0%
    }

    .carousel-item {
            background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),#13a456 ;
            text-align: center;
            height: 250px;
        }
  </style>
  <div class="container-fluide"> <br> <br> <br><br><br>

    <h3 style="text-align: center;  font-weight: bold; color: #fff; font-family: 'FontAwesome'; font-size: 30px;"> TESTIMONIALS </h3> <br>

    <!--  -->
    <div class="img-fluid">
      <div id="demo" class="carousel slide" data-interval="2000" data-ride="carousel">

        <ol class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" id="car">
          <div class="carousel-item active">
            <h2 style="font-family: 'FontAwesome';font-weight: bold; color: #fff;">Clemence</h2>
            <div class="carousel-caption">
              <h3 style="font-family: 'Bad Script', cursive"></h3>
              <p style="font-family: 'Bad Script', cursive;font-size: 25px">I always want to do practice in the weekend but i dint know where i can go in my community but by using this app it helps me to know where i can go.</p>
            </div>
          </div>
          <div class="carousel-item">
            <h2 style="font-family: 'FontAwesome';font-weight: bold; color: #fff;">Fifi</h2>
            <div class="carousel-caption">
              <!-- <h3 style="font-family: 'Bad Script', cursive; ;"></h3> -->
              <p style="font-family: 'Bad Script', cursive; font-size: 25px;">this App helps me to know people in my neighborhood so that we can work together</p>
            </div>
          </div>
          <div class="carousel-item">
            <h2 style="font-family: 'FontAwesome';font-weight: bold; color: #fff;">Juliette</h2>
            <div class="carousel-caption">
              <h3 style="font-family: 'Bad Script', cursive"></h3>
              <p style="font-family: 'Bad Script', cursive;font-size: 25px">I always wonder how i can find people who will work with me the sport but this App helps me to find them</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div><br>
    <!--------->
    <h4 style="font-family: 'Bad Script', cursive; color: #13a456; margin-left: 500px; font-size: 50px;">Talk to Us</h4>
    <div class="row justify-content-center h-100">
      <div class="card-body">
        <div class="card-footer-section">
          
          <div id="card{{team.id}}" class="mt-2">
            {%for chat in chats %}

            <p>

              <div class="col-md-3">
                {% if user.profile_pic %}
                <img src="{{user.profile_pic.url}}" alt="" width="20" height="20">
                {% else %}
                <span><img
                    src="https://i0.wp.com/www.winhelponline.com/blog/wp-content/uploads/2017/12/user.png?fit=256%2C256&quality=100&ssl=1"
                    alt="" width="20" height="20" style="font-family: 'Bad Script', cursive"><strong><em>{{chat.username.username}}</em></strong> </span>
                {% endif %}
              </div> <br>
              <span style="background-color:#F3F3F5;margin-left: 10%;padding: 10px;border-radius: 25px;position: relative;
              margin-top: auto;margin-bottom: auto;font-family: 'Bad Script', cursive">{{chat.message}}</span>


            </p>
            {%endfor%}

            <form action="{%url 'chat' team_id%}" method="post" enctype="multipart/form-data">
              {%csrf_token%}
              {% bootstrap_form form layout='inline' %}
              <input type="submit" name="idteam" value="Send" placeholder="Type your message..."
                class="btn btn-lg">
            </form>

          </div>

        </div>
      </div>

    </div>
  </div>
  {% bootstrap_javascript %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  {% block scripts %} {{block.super}}
  <script type="text/javascript" src="{%static 'js/chat.js'%}"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>

  <!-- Popper -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>

  <!-- Latest compiled and minified Bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  {% endblock %}

  {% endblock %}
</body>

</html>