{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static%}
{% block content %}
{{block.super}}

{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="w3.css">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<style>
  body {
    background-color: #95A5A6;
  }
</style>
{% endblock %}

<body>

  <div class="container-fluid"> <br> <br> <br> <br>
    <div class="w3-container w3-content">
      <!-- The Grid -->
      <div class="w3-row">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-11">
            <div class="w3-col m10">
              <div class="w3-container w3-card w3-white w3-round w3-margin"><br>

                <span class="w3-right w3-opacity"></span>

                <img src="{{image.photo.url}}" class="w3-margin-bottom">
                <p class="text-center">Location:{{image.location}}</p>
                <p class="text-center">Description:{{image.description}}</p>

              </div>
              <!-- End Middle Column -->
            </div>
          </div>
        </div>
      </div>


      <div class="row">

        <a href="{%url 'new_post' image.id %}" class="btn btn-sm btn-success"><button>Post an Event Here</button></a>
      </div> <br> <br>

      <!-- <div class="row">
        {% for event in post %}
        <div class="col-md-4">
          <h2> {{event.title}}</h2>
          <p>--------------------------------</p>
          <p>{{event.post_description}}</p>
          <p>Posted by: {{event.posted_by}}</p>

        </div>

        {%endfor%}
      </div> -->
            <div class="row " data-wow-delay="0.4s">
              {% for event in post %}
              <div class="col-md-4 mb-5">
        
                <div class="card card-body hoverable">
                  <h2 class="font-weight-bold text-uppercase mb-4">{{event.title}}</h2>
                  <p>--------------------------------</p>
                  <p class="dark-grey-text" id="aboutme">{{event.post_description}} </p>
                  <p class="dark-grey-text" id="aboutme">Posted by: {{event.posted_by}} </p>
                </div>
              </div>
              {%endfor%}
            </div> 
        
            <div class="row">
                <a href="{%url 'create_team' image.id %}" class="btn btn-sm btn-success"><button>create team</button></a>
              </div> <br>
                <!-- {%for teams in team %}
                <a href="{%url 'chat' teams.id %}"><p >{{teams.t_name}}</p></a>  
                
                {% endfor %} -->

                <div class="row " data-wow-delay="0.4s">
                    {%for teams in team %}
                    <div class="col-md-3 mb-5">
              
                      <div class="card card-body hoverable">
                          <a href="{%url 'chat' teams.id %}"><p >{{teams.t_name}}</p></a>  

                      </div>
                    </div>
                    {%endfor%}
                  </div>       
             <!-- </div> -->



  

  </div>
</body>


{% endblock %}