{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static%}
{% block content %}
{{block.super}}

{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="w3.css">
<!-- Favicons -->
<link href="img/favicon.png" rel="icon">
<link href="img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Bootstrap CSS File -->
<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Libraries CSS Files -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="lib/animate/animate.min.css" rel="stylesheet">
<link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
<link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cookie|Great+Vibes&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}
<style>
  body {
    background-color: #f3f3f5;
  }

  .image {
    height: 50%;
    width: 15%;
    display: flex;
    float: left;
    /* padding: 5%; */
    margin-right: 2%;
  }

  .card {
    width: 120%;
  }

  h3 {
    margin-left: 20%;
  }

  a:hover,
  button {
    color: black;
  }

  button {
    background-color: #fff;
  }


</style>


<body>

  <div class="container-fluide"> <br> <br> <br> <br> <br> 

    <div class="row">

      <!-- <div class="col-md-12"> -->
        <!-- <div class="w3-col m12">
        <div class="w3-container  w3-round w3-margin"><br> -->

        <!-- <span class="w3-right w3-opacity"> -->
            <div class="card" >
                <div class="card-header">
                    <h1 class="text-center" style="font-family: 'Bad Script', cursive; color: #13a456;">{{image.category}}</h1>
                </div>
                <!-- <div class="card-body" >
                    
                    <p class="text-center">{{image.description}}</p>
                </div> -->
              </div>
       
        <!-- <p class="text-center" style="font-family: 'Bad Script', cursive">Location:{{image.sector}}</p> -->
        
        <img src="{{image.photo.url}}" class="" width="100%">
        <!-- </span> -->
        <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->
    </div>

  <br>


    <div class="row">

      <div class="col-md-4">
          <div class="card" >
              <div class="card-header">
                  <h3 style="font-family: 'Bad Script', cursive; color: #13a456;">Blog posts</h3>
              </div>
              <div class="card-body" >
                      {% for blogs in blog %}
                      <!-- <div class="blog"> -->
                        <h5 class="font-weight-bold " style="font-family: 'Bad Script', cursive; color: #13a456;"><u> {{blogs.title}} </u></h5>
                        <img src="{{blogs.image.url}}" class="image"><br> <br> <br>
                        <p class="" id="aboutme" style="font-family: 'Bad Script', cursive">{{blogs.blog_description}} </p>
                        <p class="" id="aboutme" style="font-family: 'Bad Script', cursive">Posted by: {{blogs.posted_by}} </p>
                      <!-- </div> -->
                      <!-- </div> -->
                      {%endfor%}
                        <a class="btn btn-lg" href="{%url 'new_blog' image.id %}" style="font-family: 'Bad Script', cursive">create Blog</a>
              </div>
            </div>
          </div> 
          <div class="col-md-1"></div>
          
          <div class="col-md-3">
              <div>
                  <div class="card-header">
                      <h3 style="font-family: 'Bad Script', cursive; color: #13a456;">Teams </h3>
                  </div>
                  <div class="card-body" >
                          {%for teams in team %}
                            <a href="{%url 'chat' teams.id %}">
                              <ul>
                                <li style="text-decoration: none;">
                                  <p style="font-family: 'Bad Script', cursive;">{{teams.t_name}}</p>
                                </li>
                              </ul>
                            </a>  
                          {%endfor%}  
                          <a class="btn btn-lg" href="{%url 'create_team' image.id %}" style="font-family: 'Bad Script', cursive">create team</a>   
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-3">
                  <div class="card" style="text-align: center;">
                      <div class="card-header">
                          <h3 style="font-family: 'Bad Script', cursive; color: #13a456;">Events
                            </h3>
                      </div>
                      <div class="card-body" >

                              {% for event in post %}

                                <h5 class="font-weight-bold" style="font-family: 'Bad Script', cursive;margin-left: 10%">* {{event.title}}
                                </h5>
                                <!-- <p class="dark-grey-text" id="aboutme">{{event.post_description}} </p> -->
                                <!-- <p class="dark-grey-text" id="aboutme">Posted by: {{event.posted_by}} </p> -->
                      

                              {%endfor%}

                      
                      </div>
                    </div>
                  </div>


                </div>
  </div> <br>

  {% block scripts %}
  <!-- JavaScript Libraries -->

  <script src="{% static 'js/script.js'%}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.8/js/mdb.min.js"></script>
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/popper/popper.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/counterup/jquery.waypoints.min.js"></script>
  <script src="lib/counterup/jquery.counterup.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <script src="lib/typed/typed.min.js"></script>


  {% bootstrap_javascript %} {% endblock %}
</body>


{% endblock %}