

<!-- <div class="row">
      {% for image in all_images %}
      <div class="col-md-4">
        <div class="work-box">
            <h6 class="text-center" style="font-family: 'Tomorrow', sans-serif;font-size: 20px">{{image.category}}</h6>
          <a href="{% url 'detail' image.id %}" data-lightbox="gallery-mf">
            <div class="work-img">
                
              <img src="{{image.photo.url}}" alt="" class="img-fluid" style="width:200%;height:200%">
             
            </div> -->
            <!-- <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Lorem impsum dolor</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Web Design</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <span class="ion-ios-plus-outline"></span>
                  </div>
                </div>
              </div>
            </div> -->
          <!-- </a>
        </div>
      </div> 
      {% endfor %}       
    </div> -->