{% extends 'base.html' %}
{% load bootstrap4 %}
 
<style>
  
</style>

{% block content %}
<div class="panel panel-default">

    <div class="panel-body">
      <div class="logo-header">
        <h1>Edit your profile</h1>
        <br>
      </div>
      <form action="{%url 'edit-profile'%}" method="post" enctype="multipart/form-data">

        {% csrf_token%}
        {% bootstrap_form form %}
        <div class="form-group text-center">
          <input type="submit" class="btn btn-success btn-lg" value="Save Changes">
        </div>


      </form>
    </div>
  </div>


  {% endblock %}