{%extends 'base.html'%}
{% block content %}
{% load bootstrap4 %}
{% load static%}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Cookie|Great+Vibes&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap" rel="stylesheet">

{% block styles %}
{% bootstrap_css %}
{% endblock %}

<style>
  ul {
    text-decoration: none;
  }

  .hh {
    text-align: center;

  }
  img{
    height: 100vh;
 

  }
  #h5{
    color: #ECF0F1;
    margin-bottom: 25%;
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    
  }
  /* #mt{
    margin-top: -20%;
    
  } */

</style>




<body>
      <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">

  
          <div class="carousel-inner" role="listbox">
        
            <div class="carousel-item active">
        
              <img class="d-block w-100" src="https://farm5.static.flickr.com/4530/26749582429_ddd272d6f0_b.jpg"
                alt="First slide" >
          
                <div class="carousel-caption d-none d-md-block" id="mt">
                    <h5 id="h5"> <strong> Welcome <br> <br> We have the most delicious Pizza for You</strong></h5>
                    <div class="text-center header mt-5">
                        <form class="w-100 mt-4" action="{% url 'search_results' %}">
                          <input class="w-50 p-3" type="search" placeholder="Search_activity_by_Category" name="image" aria-label="Search">
                          
                        </form>
                        <div class="suggested"> <br>
                          <p id="suggest"><strong> Suggested: Yoga , Golf , Cricket , Football,Volleyball,Basketball... </strong>  </p>
                  
                        </div>
                      </div>
                  </div>
                
            </div>
          </div>
        </div>
      
    <div class="row">
      {% for image in all_images %}
      <div class="col-md-3">
        <div class="col-md-12 col-md-offset-1 col-sm-12">
          <div style="margin-bottom: 5px;">
            <img style=" margin-top: 10px; margin-bottom: 5px;width:350px; height:200px;" src="{{image.photo.url}}"
              alt="Image">

            <a href="{% url 'detail' image.id%}" class="panel panel-footer"> <button>view details</button> </a>

          </div>
        </div>
      </div>
    </div>

    {% endfor %}
  
  {% block scripts %}

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.8/js/mdb.min.js"></script>
  {% bootstrap_javascript %} {% endblock %}
</body>


{%endblock%}