{%extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}
{{block.super}}
<style>
  .image {
    height: 50%;
    width: 15%;
    display: flex;
    float: left;
    /* padding: 5%; */
    margin-right: 2%;
  }
</style>

<div class="container-fluid"> <br> <br>
  {%if myProfile%}

  {%for prof in myProfile%}
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"> <br>
      <img src="{{prof.profile_pic.url}}" class="img-thumbnail photo img-responsive" alt="Image" height="35px"
        width="35px"> <br> <br> <br>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id="bio"> <br> <br>
      <h2>{{prof.username}}</h2>
      <p>{{prof.fullname}}</p>
      <p>Phone Number : {{prof.phone_number}}</p>
      <a href="{%url 'edit_profile'%}" style="margin: 10px; text-decoration: none;">
        <button type="button" class="btn btn-default btn-inverse"><strong> Edit Profile</strong> </button> </a>
    </div>
  </div>
  {%endfor%}

  {%else%}
  <div class="card">
    <div class="card-header">

    </div>
    <div class="card-body" styles="width:50px;">

      <h3 class="card-text">complete your profile</h3>
      <a class="btn btn-sm btn-primary" href="{% url 'edit_profile' %}"> complete Profile</a>
    </div>
  </div>
</div>
{%endif%} <br> <br>

<div class="row">

  <div class="col-md-12">
    <!-- <div class="w3-container w3-content"> -->

    <h3 style="font-family: 'Tomorrow', sans-serif;font-size: 35px;">Blog posts</h3><br> <br>
    <div class="row ">
      {% for blog in blogs %}
      <!-- <div class="col-md-4 mb-5"> -->

      <div class="blog">
        <h5 class="font-weight-bold ">{{blog.title}}</h5>
        <img src="{{blog.image.url}}" class="image">
        <p class="" id="aboutme">{{blog.blog_description}} </p>
        <p class="" id="aboutme">Posted by: {{blog.posted_by}} </p>
      </div>
      <!-- </div> -->
      {%endfor%}
    </div><br>

   
  </div>
</div> <br> <br>


</div>

{% endblock %}