{%extends 'base.html' %}
{% load bootstrap4 %}
{% load static%}
{% block styles %}
{{block.super}}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="w3.css">
{% bootstrap_css %}
{% endblock %}

{% block content %}
{{block.super}}
<style>
    body {
        background-color: #CCCCCC;
    }

    h2 {
        color: white;
        margin-left: 20%;
    }
</style>

<div class="container-fluid"> <br> <br> <br> <br> <br> <br>

    <div class="row">
        {% if searched_sector%}
        <h2>Searched term: {{message}}</h2>
        {% else %}
        <h2> {{message}}</h2>
        {% endif %}

    </div>

    <div class="row">
        {% for sect in searched_sector %}
        <div class="col-md-3">
                <h5 id="imageTitle" style="text-align: center; color: #000066 ; font-family: 'Bad Script', cursive; font-size: 30px;">
                        <strong>{{sect.category}}</strong></h5>
<!--  -->
<a href="{% url 'detail' sect.id %}" data-lightbox="gallery-mf">

        
    <img style="margin-bottom: 30px; width:1000px; height:300px;" src="{{sect.photo.url}}"
    class="img-thumbnail photo img-responsive" alt="Image" data-toggle="modal">       
</a>

                                        
            <p class="text-center" style="font-family: 'Bad Script', cursive;">Description:{{sect.description}}</p>
        </div>


        {% endfor %}
    </div>

    


</div> <br> <br> <br> <br> <br>


{%endblock%}

{% block scripts %}
{{block.super}}
{%endblock%}